<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/milligram/milligram.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/sweet/sweetalert.min.js" ></script>    
    
  </head>
  <body>
    <div class="container">
