<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/milligram/milligram.min.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        background-color: #666666;
      }

      .main-container {
        display: flex;
        width: 100%;
        justify-content: flex-start;
      }

      .aside {
        width: 10%;
        min-width: 250px;
        height: calc(100vh - 60px);
        background-color: #666666;
      }

      .aside nav ul li {
        list-style: none;
        margin: 0;
        width: 100%;
      }

      .aside nav ul li a {
        height: 40px;
        line-height: 40px;
        display: block;
        padding: 0 20px;
        color: #FFF;
      }

      .aside nav ul li a.active,
      .aside nav ul li a:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }

      .title-admin {
        color: #FFF;
        font-size: 30px;
        margin: 0;
      }

      .main-content {
        padding-top: 30px;
      }
      
    </style>
  </head>

  <%
    const urlPath = undefined // TODO
    const menuItems = [
      { path: '/admin/products/list-all', label: 'Lista de produtos'},
      { path: '/admin/products', label: 'Novo produto'},
      { path: '#', label: 'Lista de usuários'},
      { path: '#', label: 'Novo usuário'},
    ]
  %>
    
  <body>
    <header class="header">
      <h1 class="title-admin">ADMIN</h1>
    </header>
    <div class="main-container">
      <aside class="aside">
        <nav>
          <ul>
            <% menuItems.forEach(item => { %>
              <li>
                <a
                  class="<%= item.path === urlPath ? 'active' : '' %>"
                  href="<%= item.path %>"
                >
                  <%= item.label %>
                </a>
              </li>
            <% }) %>
          </ul>
        </nav>
      </aside>
      <div class="container main-content">
