<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/milligram/milligram.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/sweet/sweetalert.min.js" ></script>    
    
  </head>

  <%
    const urlPath = undefined // TODO
    const menuItems = [
      { path: '/admin/products/', label: 'Lista de produtos'},
      { path: '/admin/products/new', label: 'Novo produto'},
      { path: '/admin/users', label: 'Lista de usuários'},
      { path: '/admin/users/new', label: 'Novo usuário'},
    ]
  %>
    
  <body>
    <header class="header">
      <h1 class="title-admin">ADMIN</h1>
    </header>
    <div class="main-container">
      <aside class="aside">
        <nav>
          <ul>
            <% menuItems.forEach(item => { %>
              <li>
                <a
                  class="<%= item.path === urlPath ? 'active' : '' %>"
                  href="<%= item.path %>"
                >
                  <%= item.label %>
                </a>
              </li>
            <% }) %>
          </ul>
        </nav>
      </aside>
      <div class="container main-content">
