<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/milligram/milligram.min.css" />
  </head>
  <body>
    <div class="container"></div>
  </body>
</html>
