<%- include('./partials/_header') %>
  <h2>Registro De Usuário</h2>
  <form id="register-form">

    <label for="name">Nome</label>
    <input id="name" type="text" name="name" placeholder="Nome Completo" required />

    <label for="email">E-mail</label>
    <input id="email" name="email" placeholder="email@xxx.com" required />

    <label for="password">Senha</label>
    <input id="password" type="password" name="password" placeholder="insira a senha" required />

    <label for="role">Tipo de usuário</label>
    <select id="role" name="role">
      <option value="user">Cliente</option>
      <option value="adm" selected>Administrador</option>
    </select>
    <div>
      <button type="submit">Cadastrar</button>
    </div>
  </form>

  
  <script>
    function sendDataForm(event) {
      console.log(event);
      event.preventDefault();
      const formData = new FormData(event.target);
      const formDataJSON = Object.fromEntries(formData);

      fetch("/api/users", {
        method: "POST",
        headers: {
          "content-type": "application/json",
        },
        body: JSON.stringify(formDataJSON),
      })
        .then((response) => response.json())
        .then((result) => {
          console.log("Success:", result);
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
    document
      .getElementById("register-form")
      .addEventListener("submit", sendDataForm);
  </script>
  <%- include('./partials/_footer') %>