<%- include('./partials/_header') %>
  <h2>Registro De Usuário</h2>
  <form id="register-form">
    <input type="text" name="name" placeholder="Nome Completo" required />
    <input name="email" placeholder="E-mail" required />
    <input type="password" name="password" placeholder="Senha" required />
    <select name="role">
      <option value="user">Cliente</option>
      <option value="adm" selected>Administrador</option>
    </select>
    <div>
      <button type="submit">Cadastrar</button>
    </div>
  </form>
  <script src="/javascritpt/user-register.js"></script>
<%- include('./partials/_footer') %>
