<%- include('../partials/_header') %>
<h2>Login</h2>
<form id="login-form">
  <input type="text" name="username" placeholder="Insira seu nome de usuário">
  <input type="password" name="password" placeholder="Insira sua senha">
  <button type="submit">Entrar</button>
</form>
<script>
  function sendDataForm(event) {
    console.log(event);
    event.preventDefault();
    const formData = new FormData(event.target);
    const formDataJSON = Object.fromEntries(formData);

    fetch("/api/login", {
      method: "POST",
      headers: {
        "content-type": "application/json",
      },
      body: JSON.stringify(formDataJSON),
    })
      .then((response) => response.json())
      .then((result) => {
        console.log("Success:", result);
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }

  document
    .getElementById("login-form")
    .addEventListener("submit", sendDataForm);
</script>
<%- include('../partials/_footer') %>
