<%- include('../partials/_header') %>

<main>
    <h2> <%= title %> </h2>
    <table>
      <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
  
        <tbody id="list-users"></tbody>
    </table>
  
    <a class="button" href="/admin/users/new">Criar Usuário</a>
</main>

<%- include('../partials/_footer') %>

<script>
    
    
    
</script>