<%- include('../partials/_header') %>
<h2>Criação de produtos</h2>
<form id="product-form">
  <input name="productId" placeholder="Id do produto" />
  <input name="productName" placeholder="Nome do produto" />
  <input name="productType" placeholder="Tipo do produto" />
  <input name="productdiscount" placeholder="Desconto do produto" />
  <input name="productPrice" placeholder="Preço do produto" />
  <input name="productImage" placeholder="Imagem do produto" />
  <div>
    <button type="submit">Cadastrar</button>
  </div>
</form>
<script>
  function sendDataForm(event) {
    console.log(event);
    event.preventDefault();
    const formData = new FormData(event.target);
    const formDataJSON = Object.fromEntries(formData);

    fetch("/api/products", {
      method: "POST",
      headers: {
        "content-type": "application/json",
      },
      body: JSON.stringify(formDataJSON),
    })
      .then((response) => response.json())
      .then((result) => {
        console.log("Success:", result);
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }

  document
    .getElementById("product-form")
    .addEventListener("submit", sendDataForm);
</script>
<%- include('../partials/_footer') %>
