<%- include('../partials/_header') %>

<header class="container">
    <h2> <%= title %> </h2>
</header>

<main class="container">

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>0</td>
                <td>Nome teste</td>
                <td>Preço R$99,99</td>

            </tr>
        </tbody>
    </table>

</main>

<%- include('../partials/_footer') %>