<%- include('../partials/_header') %>

<header class="container">
  <h2><%= title %></h2>
</header>

<main class="container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Ação</th>
      </tr>
    </thead>

    <tbody id="list-products"></tbody>
  </table>

  <button class="button button-clear">Voltar</button>
</main>

<script>
  const loadProductList = () => {
    const handleData = (products) => {
      const productListField = document.querySelector('#list-products');

      const listProduct = products.map(
        (product) => ` 
                <tr> 
                    <td> ${product.id} </td>
                    <td> ${caseNull(product.name)} </td>
                    <td> R$${caseNull(product.price)} </td>
                    <td> 
                      <a class="button" href="/admin/products/${product.id}/edit"> Editar </a>
                      <button class="button button-outline delete-product" data-item-id=${product.id}>Deletar</button>
                    </td>
                </tr>
            `
      );

      if (products.length > 0) {
        productListField.innerHTML = listProduct.join('');

        document.querySelectorAll('.delete-product').forEach((element) => {
          element.addEventListener('click', () => {
            // element.getAttribute('data-item-id')
            swal({
              type: 'success',
              message: 'asdasdasdasd'
            })
            
          })
        })
      } else {
        console.log('Lista de produtos vazia');
      }
    };

    fetch('/api/products').then((response) => {
      response.json().then(handleData);
    });
  };

  const caseNull = (data) => {
    if (data == null) {
      return ' ---';
    } else {
      return data;
    }
  };

  loadProductList();
</script>

<%- include('../partials/_footer') %>
